*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #d28fa521 !important;
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif !important;
}


/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    border: 1px dashed #a93f62;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #a93f62;  
    border-radius: 20px;
}


/********* Start Navbar ************/
.upper-bar {
    background-color: #a93f62;
    color: #FFF;
    border-bottom-left-radius: 84px;
    border-bottom-right-radius: 84px;
}

@media (max-width: 991px) {
    .upper-bar{
        text-align: center;
        font-size: 13px;
    }
}

.upper-bar .info {
    margin: 15px 0;
    cursor: pointer;
}

@media (max-width: 991px) {
    .upper-bar .info:first-child {
        margin-bottom: 0;
    }
}
.upper-bar span {
    color: #e1e9ec;
}
.upper-bar .get-quote {
    display: inline-block;
    border: 1px solid rgb(194, 192, 192);
    padding: 2px 10px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.upper-bar a i {
    color: #fff;
    margin-left: 10px;
}

.upper-bar .link-header{
    margin-top: 16px;
    font-size: 20px;
}

@media (max-width: 991px) {
    .upper-bar .get-quote {
        border: none;
        margin-left: 5px;
    }
}

.upper-bar .header{
    color: #fff;
    font-size: 17px;
    border: 2px solid #c2c0c0;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    border-radius: 10px;
}


/* End Upper Bar */

/* Start Navbar */
.navbar{
    margin-top: -23px;
}

@media (max-width: 991px) {
    .navbar {
       margin-bottom: 7px;
    }
}

.navbar-brand img {
    width: 100px;
    margin-top: 10px;
    margin-left: -20px;
}

@media (max-width: 991px) {
    .navbar-brand img {
        margin-right: -47px;
    }
}
.navbar-light .navbar-nav .nav-link {
    color: #000 !important;
    font-size: 18px;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 991px) {
    .navbar-light .navbar-nav .nav-link {
       text-align: center;
    }
}

.navbar-light .navbar-nav .nav-link:hover{
    border-top: 4px solid #a93f62;
    border-bottom: 4px solid #a93f62;
    border-radius: 10px;
    padding: -10px;
    font-size: 15px;
    background-color: #EEE;
    color: #000;
}
.navbar .title  {
    margin-top: 18px !important;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Lemonada', cursive;
    font-weight: bold;
    font-style: italic;
}

@media (max-width: 991px) {
    .navbar .title  {
        margin-top: 10px;
        margin-right: -18px;
        font-size: 15px;
    }
}

.navbar-nav .active > .nav-link {
    color: #ec1c23 !important;
}
/********* End Navbar ************/

/*********** Start Slider ************/

.slider {
    background-color: #DDD;
}

.slider .carousel-inner {
    align-items: center;
    justify-content: left;
    margin-top: -13px;
}

.slider .carousel-item{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider .carousel-one {
    background-image: url(/media/images/Different-12.jpg);
    background-position: bottom;
    height: calc(100vh - 56px);
    max-height: 600px;
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
}
@media (max-width: 991px) {
    .slider .carousel-one {
        max-width: 600px;
    }
}
.slider .carousel-two {
    background-image: url(/media/images/slider-1.jpg);
    background-position: bottom;
    height: calc(100vh - 56px);
    max-height: 600px;
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
}

@media (max-width: 991px) {
    .slider .carousel-two {
        max-width: 600px;
    }
}
.slider .carousel-three {
    background-image: url(/media/images/new-model-1.jpg);
    background-position: bottom;
    height: calc(100vh - 56px);
    max-height: 600px;
    -webkit-animation: zoom 20s;
    animation: zoom 20s;
}

@media (max-width: 992px) {
    .slider .carousel-three {
        max-width: 600px;
    }
}
.slider .carousel-indicators li {
    height: 9px;
    cursor: pointer;
    border-radius: 50%;
    width: 13px;
    background-color: #ffffff;
}

@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(.5, .5);
    }
    to {
      -webkit-transform: scale(1, 1);
    }
}
  
@keyframes zoom {
    from {
        transform: scale(1,1 1.1);
    }
    to {
        transform: scale(1.2, 1.2);
    }
}
/*********** End Slider **************/

/*********** Start About *************/
.about {
    margin-top: 40px;
}

@media (max-width: 991px) {
    .about{
        margin-bottom: -90px;
    }
}
.about .info {
    text-align: right;
}

.about .info h2 {
    font-size: 35px;
    font-style: italic;
}

.about .info .part-2{
    margin-top: -59px;
    margin-right: 63px;
}
.about .info p {
    margin-right: 34px;
    margin-top: -7px;
}

.about .info h3 {
    font-size: 23px;
    font-weight: bold;
}

.about .info .list li{
    list-style: none;
    color: #5d5c5c;
    font-size: 20px;
    margin-top: 14px;
}

.about .info .prof{
    margin-right: 143px;
    font-size: 21px;
}

@media (max-width: 991px) {
    .about .tto{
        margin-top: -60px;
        margin-bottom: 50px;
    }
}
@media (max-width: 991px) {
    .about .info .list li{
        margin-bottom: 10px;
    }
}
.about .info .list li i{
    color: #a93f62;
}
.about .logo img {
    width: 125%;
    height: 76%;
    margin-top: 31px;
}

.about .info img {
    width: 60px;
}
@media (max-width: 991px) {
    .about .logo img{
        margin-right: -60px;
    }
}

.about .logo-1{
    margin-top: -20px;
    margin-bottom: 60px;
}

.about .logo-1 .title-logo-1{
    margin-top: -62px;
    margin-left: 60px;
    font-style: italic;
    font-size: 35px;
}

.about .logo-1 .title-logo-1-d {
    font-style: italic;
    font-size: 35px;
    margin-top: -50px;
    margin-left: 20px;
}

.about .logo-1 .title-logo-1-a{
    font-style: italic;
    font-size: 35px;
    margin-top: -55px;
    margin-left: 90px;
}

.about .logo-1 .title-logo-1-S{
    font-style: italic;
    font-size: 35px;
    margin-top: -50px;
    margin-left: 60px;
}

.about .logo-1 .title-logo-1-n{
    font-style: italic;
    font-size: 35px;
    margin-left: 100px;
}
.about .logo-1 .img-logo-1{
    width: 35%;
    margin-left: 50%;
}

.about .logo-1 .img-logo-1-d{
    width: 35%;
    margin-left: 50%;
    background-color: #000;
    border-radius: 20px;
}
/*********** End About *************/

/*********** Start card *************/

.cards{
    margin-top: 50px;
    background-color: #fff;
    padding: 30px ;
}

.cards .navbar {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* z-index: 1000; */
}

/* @media (max-width: 991px) {
    .cards .navbar .navbar-nav  {
        z-index: 1000;
    }
} */

.cards .bg-light {
    background-color: #a93f62 !important
}

.cards .navbar .navbar-brand {
    color: #fff;
}

.cards .navbar .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #a93f62;
  height: 60px;
  border-radius: 10px;
  width: 100%;
}

.cards .navbar .navbar-nav .nav-item {
   text-align: center;
   margin-left: -7px;
}

.cards .navbar .navbar-nav .nav-item .nav-link-two{
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #fff !important;
  margin: 14px;
  width: 100%;
  margin-top: 17px;
  text-align: right;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

@media (max-width: 991px) {
    .cards .navbar .navbar-nav .nav-item .nav-link-two {
       text-align: center;
    }
}

.cards .navbar-nav .nav-item .nav-link-two:hover {
    background-color: none;
    margin: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 991px) {
    .cards {
        padding: 20px;
    }
}

.cards .card{
    margin-top: 28px;
    margin-bottom: 10px;
    border-radius: 12px;
}

@media (max-width: 991px) {
    .cards .card {
       margin: 20px auto 10px;
    }
}
.cards .card  .card-img-top {
    width: 100%;
    border-radius: 12px;
    
    cursor: pointer;
}
.cards .card:hover .overlay{
    display: block;
}

.cards .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #565656c7;
    border-radius: 9px;
    cursor: pointer;
    display: none;
    -webkit-transition: all 1.8s ease-in-out;
    -moz-transition: all 1.8s ease-in-out;
    transition: all 1.8s ease-in-out;
}


.cards .card  .overlay h3{
    margin-top: 49px;
    font-size: 22px;
    margin-bottom: 39px;
    font-weight: bold;
}


.cards .card .overlay a{
    position: relative;
    top: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    font-size: 20px;
    border: 2px dotted #fff;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.cards .card a:hover{
    font-size: 19px;
    background-color: #a93f62;
    color: #fff;
    top: -9px;
}
.cards .card .modal-body  h5 {
    font-size: 19px;
    margin-top: -7px;
}

.cards .card .modal-body span{
    font-size: 19px;
}

.cards .card .modal-body img {
    border-radius: 30px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.cards .card .modal-body img:hover{
    border: 7px solid #a93f62;
    max-width: 900px
}
.cards .card  .btn{
    position: relative;
    top: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    font-size: 20px;
    border: 2px dotted #fff;
    padding: 6px 11px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.cards .card .btn:hover{
    font-size: 19px;
    background-color: #a93f62;
    color: #fff;
    top: -9px;
}

/*********** End card *************/

/*********** Start New Model **********/
.new-model {
    margin-top: 80px;
}

@media (max-width: 991px) {
    .new-model {
        text-align: center;
        margin-top: 40px;
    }
}
.new-model h2{
    text-align: right;
    margin-bottom: 30px;
    font-size: 34px;
}

.new-model h2 i {
    color: #a93f62;
}

@media (max-width: 991px) {
    .new-model h2  {
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }
}
.new-model .card{
    margin-left: 30px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .new-model .card  {
        margin: auto auto 40px;
    }
}
.new-model .card:hover{
    margin-top: -22px;
}

.new-model .card-body{
    text-align: right;
}

.new-model .card .area-new {
    background-color: red;
    text-align: center;
    font-size: 21px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}


.new-model .card:hover .area-new{
    -webkit-animation: glow 2s linear infinite;
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    cursor: pointer;
}

@-webkit-keyframes glow{
    0%{color: yellow;}
    30%{color: #fff;}
    50%{color: blue;}
    100%{color: #1ce71c;
    }
}
/*********** End New Model **********/

/*********** Start Magazine **********/

.magazine{
    margin-top: 90px;
    background-color: #080808;
    
}

@media (max-width: 991px) {
    .magazine  {
        margin-top: 20px;
    }
}
.magazine .carousel-indicators .po{
    height: 12px;
    border-radius: 50%;
    width: 13px;
    background-color: #a93f62 ;
}

.magazine .carousel-inner {
    height: 550px !important;
}

@media (max-width: 991px) {
    .magazine .carousel-inner {
        text-align: center;
    }
}

.magazine .carousel-inner .carousel-item  .onee{
    margin-top: -53px;
}
@media (max-width: 991px) {
    .magazine .carousel-inner .carousel-item  .onee {
        margin-top: 180px;
    }
}

.magazine .carousel-inner .carousel-item  .twoo{
    margin-top: 25px;
}

@media (max-width: 991px) {
    .magazine .carousel-inner .carousel-item  .twoo {
        margin-top: 180px;
    }
}
.magazine .carousel-control-prev-icon, .carousel-control-next-icon{
    color: #a93f62 !important;
}
/*********** Start Magazine **********/

/*********** Start Footer ***********/
.footer{
    margin-top: 99px;
    text-align: right;
    background-color: #fff;
    padding: 30px;
}

.footer .site-info h2{
    margin-bottom: 21px;
}

@media (max-width: 991px) {
    .footer .site-info h2{
        font-size: 28px;
    }
}
.footer .site-info .hnsr{
    line-height: .1;
}

.footer  .links{
    margin-right: -29px;
}

.footer  .links .helpful-links li{
    margin-right: -33px;
    line-height: 2.2;
    cursor: pointer;
}

@media (max-width: 991px) {
    .footer .links .helpful-links h2{
        margin-top: 10px;
        font-size: 28px;
    }
}
.footer .cont{
    margin-right: 0px;

}

.footer  .contact{
    line-height: 2;
}
.footer .cont h2{
    margin-bottom: 13px;
}

@media (max-width: 991px) {
    .footer .cont h2{
        margin-top: 10px;
        font-size: 28px;
    }
}
.footer .cont li{
    margin-right: -27px;
}
/*********** End Footer ***********/

/********** Start Copyright ************/
.copyright {
    background-color: #a93f62;
    color: #fff;
    overflow: hidden;
    padding: 16px;
    font-size: 18px;
    margin-top: 40px;
    border-top-right-radius: 335px;
    border-top-left-radius: 292px;
    font-family: 'Lobster', cursive;
}

.copyright .copyright-do {
    float: left;
}

@media (max-width: 991px) {
    .copyright .copyright-do{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.copyright .design {
    float: right;
}
@media (max-width: 991px) {
    .copyright .design{
        width: 100%;
        text-align: center;
    }
}

/********** End Copyright ************/


/********* Start Models Details ************/
.card-details{
    margin-top: 20px;
    text-align: right;
}

.card-details .card{
    /*border-radius: 30px;*/
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    position: relative;
    width: 50%;
}

@media (max-width: 991px) {
    .card-details .card {
     margin: 20px auto 10px;
     width: 100%;
    }
}


.card-details .card:hover{
    border: 7px solid #000;
    max-width: 900px;
    border-radius: 20px;
}
.card-details .card img {
    border-radius: 30px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
    /*max-width: 720px;*/ /*لتصغير الصور */
}

.card-details .card img:hover{
    border: 7px solid #a93f62;
    max-width: 900px
}
.card-details .card .card-body p {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

/*********** Start Other Cards ***********/
.other-cards{
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
}

.other-cards .card{
    margin-left: 30px;
}
@media (max-width: 991px) {
    .other-cards .card {
       margin-bottom: 20px;
       margin-right: 50px;
    }
}


.other-cards .card .card-body .card-text{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}
/*********** End Other Cards ***********/

/********* End Models Details ************/


/********* start list *************/
.start-list {
    margin-top: 50px;
}

.start-list  .title-te {
    margin-right: 450px;
    position: absolute;
    font-size: 39px;
    font-style: italic;
    margin-top: -17px;
}

.start-list .items {
    margin-top: 40px;
    margin-right: 22px;
    text-align: center;
    font-size: 22px;
}

.start-list .items .slug-2 {
    text-decoration: none;
    border: 3px solid #a93f62;
    padding: 10px;
    color: #000;
}
/********* End list *************/



/********* Start Models Details ************/
.card-details{
    margin-top: 20px;
    text-align: right;
}

.card-details .card{
    /*border-radius: 30px;*/
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    position: relative;
}
.card-details .card:hover{
    border: 7px solid #000;
    max-width: 900px;
    border-radius: 20px;
}
.card-details .card img {
    border-radius: 30px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
    /*max-width: 720px;*/ /*لتصغير الصور */
}

.card-details .card img:hover{
    border: 7px solid #a93f62;
    max-width: 900px
}
.card-details .card .card-body p {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
/***** Start MainCategory ******/
.list {
    margin-top: 50px;
}
.list ul{
    margin-bottom: 50px;
}

.list a {
    text-decoration: none;
    padding: 10px;
    font-size: 19px;
    color: #000;
     -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.list  a:hover {
    color: #fff;
    background-color: #000;
    border-radius: 13px;
    font-size: 22px
}
/* .list ul li .card .card-body{

} */

/* .list .card{

} */
@media (max-width: 991px) {
    .list ul  li .card{
        margin-right: 70px;
    }
}

.card .card-body .btn-danger {
    background-color: #a93f62;
    border-color: #a93f62;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.card .card-body .btn-danger:hover{
    color: #fff;
    background-color: #000;
    border-radius: 13px;
    font-size: 20px
}


/***** Start MainCategory ******/

/***** Start SubCategory ******/

.sub {
    margin-top: 50px;
}

.sub a{
    padding: 10px;
    font-size: 19px;
    color: #000;
    text-decoration: none !important;
     -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@media (max-width: 991px) {
    .sub .card{
        margin-right: 120px;
    }
}
.card .card-body {
    text-align: center;
}
.sub a:hover {
    color: #fff;
    background-color: #000;
    border-radius: 13px;
    font-size: 22px
}
/***** Start SubCategory ******/

/***** Start Gallrey ******/

.gallrey{
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallrey .card{
    margin-left: 25px;
    margin-top: 25px;
}

@media (max-width: 991px) {
    .gallrey .card{
        margin-right: 90px;
    }
}
/****** End Gallrey *********/


/****** Start Log-In *********/
/* .login {

} */

.login .login-body {
    margin-top: 50px;
    border: 2px solid #000;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 80px;
}

.login .login-body h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.login .login-body button{
    width: 20%;
    margin-bottom: 40px;
    background-color: #a93f62a8;
    color: #000;
    padding: 10px;
    font-size: 23px;
    border-radius: 20px;
    border: 2px solid #c47b93;
     -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.login .login-body button:hover {
    background-color: #a93f62;
    border: 2px solid #a93f62;
    color: #fff;
}
/****** End Log-In *********/

/****** Start Form *********/

/* .form {

} */

.form .form-body{
    border: 2px solid #000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.form .form-body h2 {
    margin-top: 30px;
}

.form .form-body button {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 20%;
    padding: 10px;
    font-size: 19px;
    border: 2px solid #c47b93;
    background-color: #a93f62a8;
    color: #000;
    border-radius: 20px;
     -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.form .form-body button:hover{
    background-color: #a93f62;
    border: 2px solid #a93f62;
    color: #fff;
}
/****** End Form *********/

/****** Start Contact Us *********/

.contact-page{
    margin-top: -40px;
}
/* Start Stylish */

.contact-page .stylish {
    background: url(/media/images/contact.PNG) no-repeat top center;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -o-background-size : cover;
    background-size : cover;
    position: relative;
    color: #fff ;
    min-height: 320px;
    margin-top: 50px;
}
@media (max-width: 991px) {
    .contact-page .stylish {
       min-height: 350px;
    }
}

.contact-page .stylish .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 60px 0;
}

@media (max-width: 991px) {
    .contact-page .stylish .overlay {
        padding: 30px 0;
    }
}

.contact-page .stylish h2 {
    font-family: 'DM Serif Text', serif;

}

.contact-page .stylish .head-border-center:after {
    background-color: #fff;
}

/* End  Stylish */

.contact-page .stylish .buttons{
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 991px) {
    .contact-page .stylish .buttons button{
       margin-bottom: 10px;
    }
}
.contact-page .stylish .buttons button {
    background: transparent;
    padding: 10px 0;
    width: 250px;
    font-size: 15px;
    border: 2px solid #909090;
    margin: 0 8px;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@media (max-width: 991px) {
    .contact-page .stylish .buttons button{
       margin-bottom: 20px;
    }
}
.contact-page .stylish .buttons button:hover {
    background-color: #fff;
    color: #000;
}

.height-60{
    min-height: 60vh;
}

/****** End Contact Us *********/