{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="contact-page">
      <!-- Start Stylish -->
        <div class="stylish">
            <div class="overlay">
              <div class="container">
                <h2 class="stylish-head h1 head-border-center uppercase text-center">مرحبا بكم في شركة غمام الدقم للتجارة ش م م</h2>
                <p class="stylis-desc text-center">يمكنكم التواصل معنا </p>
                <div class="buttons">
                    <button data-localize="button" class="hire upper"><i class="fa fa-phone"></i> <span>0096898836155  </span> </button>
                    <button data-localize="button" class="work upper"><i class="fa fa-envelope-o"></i> ghmamalduqum700@gmail.com</button>
                </div>
            </div>
            </div>
        </div>
    <!-- End  Stylish -->
     <!--================ Start Footer ================-->
     <div class="footer">
         <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="site-info">
                            <h2>شركة غمام الدقم للتجارة ش م م</h2>
                            <p class="hnsr"><i class="fa fa-arrow-left" aria-hidden="true"></i> مقاولات البناء والتشييد</p><br>
                            <p class="hnsr"><i class="fa fa-arrow-left" aria-hidden="true"></i> تصميم وتصنيع الاثاث</p><br>
                            <p class="hnsr">  <i class="fa fa-arrow-left" aria-hidden="true"></i> الخشب المعدني,الالومنيوم,UPVC</p><br>
                            <p class="hnsr"><i class="fa fa-arrow-left" aria-hidden="true"></i>  الاستيراد والتصدير</p><br>
                            <p class="hnsr"><i class="fa fa-arrow-left" aria-hidden="true"></i>  إدارة الفنادق والمنتجعات السياحية</p><br>
                            <p class="hnsr"> <i class="fa fa-arrow-left" aria-hidden="true"></i>  خدمات المستثمرين</p>
                        </div>
                    </div>
                    <div class="links col-sm-6 col-lg-3">
                        <div class="helpful-links">
                            <h2>روابط سريعة</h2>
                            <div class="row">
                                <div class="col">
                                <ul class="list-unstyled">
                                    <li> <i class="fa fa-arrow-left" aria-hidden="true"></i> تفاصيل عن الشركة</li>
                                    <li><i class="fa fa-arrow-left" aria-hidden="true"></i> فروعنا</li>
                                    <li><i class="fa fa-arrow-left" aria-hidden="true"></i> العروض</li>
                                    <li> <i class="fa fa-arrow-left" aria-hidden="true"></i>الاسعار</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont col-sm-6 col-lg-3">
                        <div class="contact">
                            <h2 >اتصل بنا</h2>
                            <ul class="list-unstyled">
                                <li><a href=https://bit.ly/2m5wSfk"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                </li>
                                <li><i class="fa fa-phone"></i> 0096898836155</li>
                            </ul>
                        </div>
                    </div>
                </div>
         </div>
         <div class="clearfix"></div>
     </div>
     <!--================ End Footer ================-->


</div>

{% endblock content %}





